<div>
    <md-content layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form" flex>
        <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2><span>Login Form</span></h2>
                </div>
            </md-toolbar>
            <md-card-content>
                <form name="loginForm">
                    <md-input-container class="md-block">
                        <label>Login</label>
                        <input type="text" name="email" ng-model="login.formData.email" placeholder="email" required=""/>
                        <div ng-messages="" role="alert" multiple="">
                            <div ng-message="required" class="my-message">Please enter your email.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input type="password" name="password" ng-model="login.formData.password" placeholder="password" required=""/>
                        <div ng-messages="" role="alert" multiple="">
                            <div ng-message="required" class="my-message">Please enter your password.</div>
                        </div>
                    </md-input-container>

                    <div layout="row" layout-sm="column" layout-align="space-around" ng-show="!login.isLoding">
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>

                    <md-button ng-disabled="!loginForm.$valid" ng-click="login.doLogin(login.formData)" class="md-raised md-primary">&nbsp Login &nbsp</md-button>
                    <md-button ng-disabled="login.isVisibleSignUp" class="md-raised md-primary" ng-click="login.showSignUp()">&nbsp Sign Up &nbsp</md-button>
                </form>
            </md-card-content>
        </md-card>
    </md-content>

    <!--Login toast area-->
    <br/>
    <br/>
    <br/>
    <md-content layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" flex>
        <div id="toastParent"></div>
    </md-content>

</div>