<div class="col-md-12" ng-cloak>
        <md-content>
            <md-card>
                <md-tabs md-dynamic-height md-border-bottom >

                    <!--Beginning of Add Users Tab-->
                    <md-tab label="Add Users">
                        <md-card-content>
                            <form name="userForm" id="userForm" novalidate>
                                <div layout="column">
                                    <!--Name field-->
                                    <md-input-container>
                                        <label>Name</label>
                                        <input type="text" name="name" ng-model="user.userModel.name" required>
                                        <div ng-messages="userForm.name.$error">
                                            <div ng-message="required">Name is required.</div>
                                        </div>
                                    </md-input-container>
                                    <!--Contact field-->
                                    <md-input-container>
                                        <label>Contact Number</label>
                                        <input type="text" name="name" ng-model="user.userModel.contact" required>
                                        <div ng-messages="userForm.contact.$error">
                                            <div ng-message="required">Contact Number is required.</div>
                                        </div>
                                    </md-input-container>
                                    <!--Email field-->
                                    <md-input-container>
                                        <label>Email</label>
                                        <input type="email" name="email" ng-model="user.userModel.email" required>
                                        <div ng-messages="userForm.email.$error">
                                            <div ng-message="userForm.email.$invalid">Enter a valid email.</div>
                                        </div>
                                    </md-input-container>
                                    <!--Permission field-->
                                    <md-input-container>
                                        <label>Permission</label>
                                        <md-select ng-model="user.userModel.type" placeholder="user type" class="md-no-underline" required md-no-asterisk="false" name="permission">
                                            <md-option value="Admin">Admin</md-option>
                                            <md-option value="Driver">Driver</md-option>
                                            <md-option value="Transport manager">Transport manager</md-option>
                                            <md-option value="Inspector">Inspector</md-option>
                                        </md-select>
                                        <div ng-messages="userForm.permission.$error">
                                            <div ng-message="required">Please select a permission</div>
                                        </div>
                                    </md-input-container>
                                    <!--Password field-->
                                    <md-input-container>
                                        <label>Password</label>
                                        <input type="password" name="password" ng-model="user.userModel.password" required>
                                        <div ng-messages="required">
                                            <div ng-message="required">Password is required.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </form>
                            </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-disabled="user.visiblityOfSave(userForm.$valid)" ng-click="user.addNewUser(user.userModel)" class="md-raised md-primary">Submit</md-button>
                        </md-card-actions>
                    </md-tab>
                    <!--End of Add Users Tab-->

                    <!--Beginning of View Users Tab-->
                    <md-tab label="View Users" id="viewUsers" name="viewUsers">
                        <md-input-container class="md-icon-float md-block">
                            <label>Search</label>
                            <md-icon md-font-icon="search" class="search"></md-icon>
                            <input ng-model="user.searchBy" type="text">
                        </md-input-container>
                        <md-content>
                            <md-list flex>
                                <md-subheader class="md-no-sticky"></md-subheader>
                                <div class="col-md-12">
                                    <md-list-item class="md-3-line" ng-repeat="item in user.users | filter:user.searchBy"
                                                  ng-click="null">
                                        <img ng-src="https://www.mindzcloud.com/wp-content/themes/mindzcloud/images/client-1.png"
                                             class="md-avatar">
                                        <div class="md-list-item-text" layout="column">
                                            <h3>
                                                <b> {{ item.name}} </b>
                                                <p> {{ item.email}} </p>
                                                <p> {{ item.type}} </p>

                                            </h3>
                                        </div>
                                    </md-list-item>
                                </div>
                            </md-list>
                        </md-content>
                    </md-tab>
                    <!--End of View Users Tab-->
                </md-tabs>
            </md-card>
        </md-content>
</div>

<!--custom style-->
<style>
    .label {
        color: #515151
    }
</style>