<div class="col-md-12">
    <div class="row">

        <!--Schedule Management-->
        <div class="col-md-4">
            <md-card md-theme="dark-grey" md-theme-watch class="animated bounceIn">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Schedule Management</span>
                        <span class="md-subhead">You can access the Bus Schedules</span>
                    </md-card-title-text>
                    <md-card-title-media>

                            <img src="../../assets/images/school-bus.png">

                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised md-primary" ui-sref="dashboard.schedule">Go</md-button>
                </md-card-actions>
            </md-card>
        </div>

        <!--Inspection Management-->
        <div class="col-md-4">
            <md-card md-theme="dark-grey" md-theme-watch class="animated bounceIn">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Inspection Management</span>
                        <span class="md-subhead">You can access the Inspection Reports</span>
                    </md-card-title-text>
                    <md-card-title-media>

                        <img src="../../assets/images/tickets.png">

                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised md-primary" ui-sref="dashboard.inspection">Go</md-button>
                </md-card-actions>
            </md-card>
        </div>

    </div>

</div>