<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>

            Add Schedule
            <!--Add Student tab-->
            <md-tab label="Add Schedules">
                <md-content class="md-padding">
                    <form name="scheduleForm" id="scheduleForm">
                        <div style="padding-top: 30px; padding-left: 30px">
                            <div class="row">
                                <!-- left column -->
                                <div class="col-md-5 col-sm-6 col-xs-12 well well-sm">
                                    <div>

                                    </div>
                                    <h4>Add Schedules</h4>
                                    <div class="col-md-12" style="margin-bottom: 10px;">

                                        <md-input-container flex="50">
                                            <label>Bus Number</label>
                                            <md-select name="busNumber" ng-model="schedule.scheduleModel.busNumber" required>
                                                <md-option value="CP-NA-4353">CP-NA-4353</md-option>
                                            </md-select>
                                            <div class="errors" ng-messages="scheduleForm.busNumber.$error">
                                                <div ng-message="required">Required</div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom: 0;">
                                            <label>Start Time</label>
                                            <input name="startTime" ng-model="schedule.scheduleModel.startTime" required/>

                                            <div ng-messages="scheduleForm.startTime.$error">
                                                <div ng-message="required">Start Time Required</div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom: 0;">
                                            <label>End Time</label>
                                            <input name="endTime" ng-model="schedule.scheduleModel.endTime" required/>

                                            <div ng-messages="scheduleForm.endTime.$error">
                                                <div ng-message="required">End Time is Required</div>
                                            </div>

                                        </md-input-container>


                                        <div class="col-md-6 col-md-offset-6 text-right" style="padding-right: 0; margin-bottom: 30px;">
                                            <md-button class="md-raised md-primary" ng-click="schedule.addSchedule(schedule.scheduleModel)">Add Schedule</md-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </md-content>
            </md-tab>


            View Schedule
            <md-tab label="View Schedules" id="viewSchedules" name="viewSchedules">
                <!--<md-input-container class="md-icon-float md-block">-->
                <!--<label>Search</label>-->
                <!--<md-icon md-font-icon="search" class="search"></md-icon>-->
                <!--<input ng-model="user.searchBy" type="text">-->
                <!--</md-input-container>-->
                <md-content>
                    <md-list flex>

                        <div layout="row" layout-sm="column" layout-align="space-around" ng-show="schedule.isLoadingScheduleTable">
                            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                        </div>
                        <div class="col-md-12">
                            <md-list-item class="md-3-line" ng-repeat="item in schedule.schedules" ng-click="schedule.showScheduleOnEditMode(item,$event)">
                                <img ng-src="https://image.flaticon.com/icons/svg/305/305139.svg"
                                     class="md-avatar">
                                <div class="md-list-item-text" layout="column">
                                    <h3>
                                        <h5> Bus Number : {{ item.busNumber}} </h5>
                                        <p> Start Time : {{ item.startTime}} </p>
                                        <p> End Time   : {{ item.endTime}} </p>
                                    </h3>
                                </div>
                            </md-list-item>
                        </div>

                    </md-list>
                </md-content>
            </md-tab>

        </md-tabs>
    </md-content>
</div>