<div class="clms-main-nav">
    <div class="clms-logo">
        <h4>iTickets</h4>
    </div>
    <img src="../../assets/images/avatar.png" width="80px" style="padding: 10px; float: right;"
         ng-click="dash.openUserSideBar()">
</div>

<div class="clms-main-content">
    <div class="col-md-1 hidden-sm hidden-xs">
        <div class="side-nav-fixed">

            <!--Home-->
            <!--<div class="side-nav-component text-center animated bounceInLeft">-->
                <!--<a ui-sref="null">-->
                    <!--&lt;!&ndash;<i class="fa fa-home fa-3x side-nav-content-icon" aria-hidden="true"></i>&ndash;&gt;-->
                    <!--<img src="../../assets/images/icons/006-house.svg">-->
                    <!--<br>-->
                    <!--<span class="side-nav-content-title">Home</span>-->
                <!--</a>-->
            <!--</div>-->

            <!--User Management-->
            <div class="side-nav-component text-center animated bounceInLeft">
                <a ui-sref=".user">
                    <!--<i class="fa fa-users fa-3x side-nav-content-icon" aria-hidden="true"></i>-->
                    <img src="../../assets/images/icons/profile.svg">
                    <br>
                    <span class="side-nav-content-title">Profile</span>
                </a>
            </div>

            <!--Trip Management-->
            <div class="side-nav-component text-center animated bounceInLeft" ng-show="dash.isPassenger">
                <a ui-sref=".trip">
                    <!--<i class="fa fa-users fa-3x side-nav-content-icon" aria-hidden="true"></i>-->
                    <img src="../../assets/images/icons/journey.svg">
                    <br>
                    <span class="side-nav-content-title">Journeys</span>
                </a>
            </div>

            <!--Payment Management-->
            <div class="side-nav-component text-center animated bounceInLeft" ng-show="dash.isPassenger">
                <a ui-sref=".payment">
                    <!--<i class="fa fa-users fa-3x side-nav-content-icon" aria-hidden="true"></i>-->
                    <img src="../../assets/images/icons/account.svg">
                    <br>
                    <span class="side-nav-content-title">Account</span>
                </a>
            </div>

            <!--Analytics-->
            <div class="side-nav-component text-center animated bounceInLeft" ng-show="!dash.isPassenger">
                <a ui-sref=".analytics">
                    <!--<i class="fa fa-users fa-3x side-nav-content-icon" aria-hidden="true"></i>-->
                    <img src="../../assets/images/icons/005-team.svg">
                    <br>
                    <span class="side-nav-content-title">Analytics</span>
                </a>
            </div>

        </div>
    </div>
    <div class="col-md-11">
        <div style="margin-top: 40px;">
            <div ui-view></div>
        </div>
    </div>
</div>


<div layout="row">
    <md-sidenav md-component-id="right" class="md-sidenav-right" style="background-color: royalblue;">
        <div class="text-center side-nav-content">
            <img src="../../assets/images/avatar.png" width="90px" style="padding: 5px;"><br>
            <h3>{{dash.logedUser}}</h3>
            <p><i>{{dash.permission}}</i></p>
            <md-divider></md-divider>
            <div class="logout-btn" style="margin-top: 20px;" ng-click="dash.logout()">
                <md-button class="md-raised md-warn">Logout</md-button>
            </div>
            <div class="content-loading text-center">
                <div class="loading-container">
                    <md-progress-circular class="md-warn" md-mode="indeterminate" md-diameter="50" ng-show="dash.isLoading" ng-disabled="!dash.isLoading"></md-progress-circular>
                </div>
            </div>
        </div>
        <div class="footer-note text-center">
            <h4>iTickets</h4>
            <small>Team Cyborgs &copy 2017</small>
        </div>
    </md-sidenav>
</div>