@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.payment-warning-text{

    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #F44336;

}